*,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  font: 1rem/1.35 sans-serif;
}

button {
  appearance: none;
}

.container {
  max-width: 60rem;
  margin: auto;
  padding: 1rem;
}

.child {
  margin: 0.25rem 0 0.25rem 1rem;
  font-style: italic;
  font-size: 75%;
}

.list-wrapper {
  margin: 0.5rem 0 0.85rem;
}

.list-item {
  margin-bottom: 0.85rem;
}

.btn-delete {
  color: darken($color: red, $amount: 6.5%);
}
