*,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  font: 1rem/1.35 sans-serif;
}

div.container {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}

div.child {
  margin: 0.25em 0 0.25em 1em;
  font-style: italic;
  font-size: 75%;
}

div.list-wrapper {
  margin: 0.5em 0 0.85em;
}

div.list-item {
  margin-bottom: 0.85em;
}
