*,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  font: 1rem/1.35 sans-serif;
  margin: 0;
}

button {
  padding: 0.5rem 0.7rem;
  appearance: none;
  border: 0;
  border-radius: 3px;
  background-color: lighten($color: black, $amount: 88%);
  line-height: 1;
  cursor: auto;
  transition: background-color 0.3s ease;
  font-size: 0.75rem;

  &:hover {
    background-color: lighten($color: black, $amount: 80%);
  }
}

.container {
  max-width: 60rem;
  margin: auto;
  padding: 1rem;
}

.btn-delete {
  color: darken($color: red, $amount: 2%);
}

.btn-collapse {
  &:before {
    content: '+';
  }
}

.parent {
  display: flex;
  align-items: center;

  > .column {
    &:first-child {
      padding-right: 0.5rem;
    }
    &:last-child {
      margin-left: auto;
    }
  }
}
.list-item {
  padding: 0.6rem 0;
  border-bottom: 1px solid #efefef;
  &.collapsed {
    .childs {
      display: none;
    }
  }
}

.childs {
  // display: none;
  font-size: 0.75rem;
  font-style: italic;
  padding: 0.5rem 1rem;
}
